@font-face {
    font-family: "Bullhorn-Glyphicons";
    src: url("./Bullhorn-Glyphicons.ttf?134d90c5150b816ae4adc5ab3d02caa7") format("truetype"),
url("./Bullhorn-Glyphicons.woff?134d90c5150b816ae4adc5ab3d02caa7") format("woff"),
url("./Bullhorn-Glyphicons.woff2?134d90c5150b816ae4adc5ab3d02caa7") format("woff2");
}

i {
    line-height: 1;
}

i[class^="bhi-"]:before, i[class*=" bhi-"]:before {
    font-family: Bullhorn-Glyphicons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.bhi-activity:before {
    content: "\f101";
}
.bhi-add-appointment:before {
    content: "\f102";
}
.bhi-add-file:before {
    content: "\f103";
}
.bhi-add-note:before {
    content: "\f104";
}
.bhi-add-o:before {
    content: "\f105";
}
.bhi-add-thin:before {
    content: "\f106";
}
.bhi-add:before {
    content: "\f107";
}
.bhi-addcard:before {
    content: "\f108";
}
.bhi-afternoon:before {
    content: "\f109";
}
.bhi-amplify:before {
    content: "\f10a";
}
.bhi-analytics:before {
    content: "\f10b";
}
.bhi-anchor:before {
    content: "\f10c";
}
.bhi-appointment:before {
    content: "\f10d";
}
.bhi-archive:before {
    content: "\f10e";
}
.bhi-arrow-collapse:before {
    content: "\f10f";
}
.bhi-arrow-down:before {
    content: "\f110";
}
.bhi-arrow-left-h:before {
    content: "\f111";
}
.bhi-arrow-left:before {
    content: "\f112";
}
.bhi-arrow-right-h:before {
    content: "\f113";
}
.bhi-arrow-right:before {
    content: "\f114";
}
.bhi-arrow-up:before {
    content: "\f115";
}
.bhi-arrows-resize:before {
    content: "\f116";
}
.bhi-attach:before {
    content: "\f117";
}
.bhi-automation:before {
    content: "\f118";
}
.bhi-back-office:before {
    content: "\f119";
}
.bhi-beaker:before {
    content: "\f11a";
}
.bhi-bell:before {
    content: "\f11b";
}
.bhi-billable-charge:before {
    content: "\f11c";
}
.bhi-board:before {
    content: "\f11d";
}
.bhi-bolt:before {
    content: "\f11e";
}
.bhi-book:before {
    content: "\f11f";
}
.bhi-bookmark-o:before {
    content: "\f120";
}
.bhi-bookmark:before {
    content: "\f121";
}
.bhi-border-all:before {
    content: "\f122";
}
.bhi-border-bottom:before {
    content: "\f123";
}
.bhi-border-left:before {
    content: "\f124";
}
.bhi-border-none:before {
    content: "\f125";
}
.bhi-border-right:before {
    content: "\f126";
}
.bhi-border-top:before {
    content: "\f127";
}
.bhi-bot:before {
    content: "\f128";
}
.bhi-box-check-o:before {
    content: "\f129";
}
.bhi-box-check:before {
    content: "\f12a";
}
.bhi-box-empty:before {
    content: "\f12b";
}
.bhi-box-minus-o:before {
    content: "\f12c";
}
.bhi-box-minus:before {
    content: "\f12d";
}
.bhi-box-plus-o:before {
    content: "\f12e";
}
.bhi-box-plus:before {
    content: "\f12f";
}
.bhi-box-times-o:before {
    content: "\f130";
}
.bhi-box-times:before {
    content: "\f131";
}
.bhi-bug:before {
    content: "\f132";
}
.bhi-bull:before {
    content: "\f133";
}
.bhi-calculator:before {
    content: "\f134";
}
.bhi-calendar:before {
    content: "\f135";
}
.bhi-camera:before {
    content: "\f136";
}
.bhi-candidate-circle:before {
    content: "\f137";
}
.bhi-candidate:before {
    content: "\f138";
}
.bhi-canvas:before {
    content: "\f139";
}
.bhi-card-expand:before {
    content: "\f13a";
}
.bhi-category-tags:before {
    content: "\f13b";
}
.bhi-caution-circle:before {
    content: "\f13c";
}
.bhi-caution-o:before {
    content: "\f13d";
}
.bhi-caution-triangle-o:before {
    content: "\f13e";
}
.bhi-caution:before {
    content: "\f13f";
}
.bhi-certification:before {
    content: "\f140";
}
.bhi-chart-bar:before {
    content: "\f141";
}
.bhi-chart-donut:before {
    content: "\f142";
}
.bhi-chart-funnel:before {
    content: "\f143";
}
.bhi-chart-line:before {
    content: "\f144";
}
.bhi-chart-pie-o:before {
    content: "\f145";
}
.bhi-chart-pie:before {
    content: "\f146";
}
.bhi-check-circle-filled:before {
    content: "\f147";
}
.bhi-check-circle:before {
    content: "\f148";
}
.bhi-check-o:before {
    content: "\f149";
}
.bhi-check:before {
    content: "\f14a";
}
.bhi-checkbox-add:before {
    content: "\f14b";
}
.bhi-checkbox-empty:before {
    content: "\f14c";
}
.bhi-checkbox-filled:before {
    content: "\f14d";
}
.bhi-checkbox-indeterminate:before {
    content: "\f14e";
}
.bhi-circle-o:before {
    content: "\f14f";
}
.bhi-circle:before {
    content: "\f150";
}
.bhi-clipboard:before {
    content: "\f151";
}
.bhi-clock-arrow:before {
    content: "\f152";
}
.bhi-clock:before {
    content: "\f153";
}
.bhi-close-o:before {
    content: "\f154";
}
.bhi-close:before {
    content: "\f155";
}
.bhi-coffee:before {
    content: "\f156";
}
.bhi-collapse:before {
    content: "\f157";
}
.bhi-columns:before {
    content: "\f158";
}
.bhi-comment-o:before {
    content: "\f159";
}
.bhi-comment:before {
    content: "\f15a";
}
.bhi-commission:before {
    content: "\f15b";
}
.bhi-company-circle:before {
    content: "\f15c";
}
.bhi-company:before {
    content: "\f15d";
}
.bhi-comparison-table:before {
    content: "\f15e";
}
.bhi-compass:before {
    content: "\f15f";
}
.bhi-complex:before {
    content: "\f160";
}
.bhi-compliance-manager:before {
    content: "\f161";
}
.bhi-configure-o:before {
    content: "\f162";
}
.bhi-configure:before {
    content: "\f163";
}
.bhi-convert:before {
    content: "\f164";
}
.bhi-crane:before {
    content: "\f165";
}
.bhi-credential:before {
    content: "\f166";
}
.bhi-crf:before {
    content: "\f167";
}
.bhi-crown:before {
    content: "\f168";
}
.bhi-custom-objects:before {
    content: "\f169";
}
.bhi-dashboard-o:before {
    content: "\f16a";
}
.bhi-dashboard:before {
    content: "\f16b";
}
.bhi-day:before {
    content: "\f16c";
}
.bhi-delete-o:before {
    content: "\f16d";
}
.bhi-delete:before {
    content: "\f16e";
}
.bhi-department:before {
    content: "\f16f";
}
.bhi-dependencies:before {
    content: "\f170";
}
.bhi-desktop:before {
    content: "\f171";
}
.bhi-download:before {
    content: "\f172";
}
.bhi-dropzone:before {
    content: "\f173";
}
.bhi-duplicate:before {
    content: "\f174";
}
.bhi-earn-code-template:before {
    content: "\f175";
}
.bhi-earn-code:before {
    content: "\f176";
}
.bhi-edit-circle-filled:before {
    content: "\f177";
}
.bhi-edit-circle:before {
    content: "\f178";
}
.bhi-edit-o:before {
    content: "\f179";
}
.bhi-edit:before {
    content: "\f17a";
}
.bhi-education:before {
    content: "\f17b";
}
.bhi-email-autoadd:before {
    content: "\f17c";
}
.bhi-email-invoice-template:before {
    content: "\f17d";
}
.bhi-email:before {
    content: "\f17e";
}
.bhi-engagement:before {
    content: "\f17f";
}
.bhi-evening:before {
    content: "\f180";
}
.bhi-exclude:before {
    content: "\f181";
}
.bhi-expand:before {
    content: "\f182";
}
.bhi-expense:before {
    content: "\f183";
}
.bhi-export-html:before {
    content: "\f184";
}
.bhi-export-ms:before {
    content: "\f185";
}
.bhi-external-open:before {
    content: "\f186";
}
.bhi-external:before {
    content: "\f187";
}
.bhi-facebook-o:before {
    content: "\f188";
}
.bhi-facebook:before {
    content: "\f189";
}
.bhi-fasterfind:before {
    content: "\f18a";
}
.bhi-field-add:before {
    content: "\f18b";
}
.bhi-field-dropdown:before {
    content: "\f18c";
}
.bhi-field-paragraph:before {
    content: "\f18d";
}
.bhi-field-signature-text:before {
    content: "\f18e";
}
.bhi-field-signature:before {
    content: "\f18f";
}
.bhi-field-text:before {
    content: "\f190";
}
.bhi-field-textblock:before {
    content: "\f191";
}
.bhi-file:before {
    content: "\f192";
}
.bhi-filter:before {
    content: "\f193";
}
.bhi-flag:before {
    content: "\f194";
}
.bhi-flagged-email:before {
    content: "\f195";
}
.bhi-floppy-disk-pencil:before {
    content: "\f196";
}
.bhi-floppy-disk:before {
    content: "\f197";
}
.bhi-flower:before {
    content: "\f198";
}
.bhi-footprint:before {
    content: "\f199";
}
.bhi-funnel:before {
    content: "\f19a";
}
.bhi-globe-o:before {
    content: "\f19b";
}
.bhi-globe:before {
    content: "\f19c";
}
.bhi-google:before {
    content: "\f19d";
}
.bhi-hammer:before {
    content: "\f19e";
}
.bhi-Heading:before {
    content: "\f19f";
}
.bhi-headset:before {
    content: "\f1a0";
}
.bhi-herefish:before {
    content: "\f1a1";
}
.bhi-hidden:before {
    content: "\f1a2";
}
.bhi-holiday:before {
    content: "\f1a3";
}
.bhi-home:before {
    content: "\f1a4";
}
.bhi-hourglass-bottom:before {
    content: "\f1a5";
}
.bhi-hourglass-middle:before {
    content: "\f1a6";
}
.bhi-hourglass-top:before {
    content: "\f1a7";
}
.bhi-i9:before {
    content: "\f1a8";
}
.bhi-ice-cream:before {
    content: "\f1a9";
}
.bhi-idea:before {
    content: "\f1aa";
}
.bhi-inactive:before {
    content: "\f1ab";
}
.bhi-inbound-call:before {
    content: "\f1ac";
}
.bhi-inbox:before {
    content: "\f1ad";
}
.bhi-industry:before {
    content: "\f1ae";
}
.bhi-info-o:before {
    content: "\f1af";
}
.bhi-info:before {
    content: "\f1b0";
}
.bhi-inherit:before {
    content: "\f1b1";
}
.bhi-interview:before {
    content: "\f1b2";
}
.bhi-invoice:before {
    content: "\f1b3";
}
.bhi-job-circle:before {
    content: "\f1b4";
}
.bhi-job-code:before {
    content: "\f1b5";
}
.bhi-job:before {
    content: "\f1b6";
}
.bhi-kebab-menu:before {
    content: "\f1b7";
}
.bhi-key:before {
    content: "\f1b8";
}
.bhi-layout:before {
    content: "\f1b9";
}
.bhi-lead-circle:before {
    content: "\f1ba";
}
.bhi-lead:before {
    content: "\f1bb";
}
.bhi-link:before {
    content: "\f1bc";
}
.bhi-linkedin-f:before {
    content: "\f1bd";
}
.bhi-linkedin-o:before {
    content: "\f1be";
}
.bhi-linkedin:before {
    content: "\f1bf";
}
.bhi-list-o:before {
    content: "\f1c0";
}
.bhi-list:before {
    content: "\f1c1";
}
.bhi-location-o:before {
    content: "\f1c2";
}
.bhi-location:before {
    content: "\f1c3";
}
.bhi-lock:before {
    content: "\f1c4";
}
.bhi-logout:before {
    content: "\f1c5";
}
.bhi-magic:before {
    content: "\f1c6";
}
.bhi-map:before {
    content: "\f1c7";
}
.bhi-menu-o:before {
    content: "\f1c8";
}
.bhi-menu:before {
    content: "\f1c9";
}
.bhi-minus-circle-o:before {
    content: "\f1ca";
}
.bhi-minus-circle:before {
    content: "\f1cb";
}
.bhi-mirrored:before {
    content: "\f1cc";
}
.bhi-missed-call:before {
    content: "\f1cd";
}
.bhi-mobile:before {
    content: "\f1ce";
}
.bhi-more:before {
    content: "\f1cf";
}
.bhi-morning-1:before {
    content: "\f1d0";
}
.bhi-morning-2:before {
    content: "\f1d1";
}
.bhi-morning-3:before {
    content: "\f1d2";
}
.bhi-morning:before {
    content: "\f1d3";
}
.bhi-move:before {
    content: "\f1d4";
}
.bhi-music:before {
    content: "\f1d5";
}
.bhi-news:before {
    content: "\f1d6";
}
.bhi-next:before {
    content: "\f1d7";
}
.bhi-night:before {
    content: "\f1d8";
}
.bhi-no-data:before {
    content: "\f1d9";
}
.bhi-non-editable:before {
    content: "\f1da";
}
.bhi-non-payroll:before {
    content: "\f1db";
}
.bhi-note:before {
    content: "\f1dc";
}
.bhi-notes:before {
    content: "\f1dd";
}
.bhi-nps:before {
    content: "\f1de";
}
.bhi-ob365:before {
    content: "\f1df";
}
.bhi-occupation:before {
    content: "\f1e0";
}
.bhi-offer:before {
    content: "\f1e1";
}
.bhi-onboarding-365:before {
    content: "\f1e2";
}
.bhi-onboarding:before {
    content: "\f1e3";
}
.bhi-opportunity-circle:before {
    content: "\f1e4";
}
.bhi-opportunity:before {
    content: "\f1e5";
}
.bhi-organize:before {
    content: "\f1e6";
}
.bhi-outbound-call:before {
    content: "\f1e7";
}
.bhi-outbound-email:before {
    content: "\f1e8";
}
.bhi-overnight:before {
    content: "\f1e9";
}
.bhi-overview:before {
    content: "\f1ea";
}
.bhi-packets:before {
    content: "\f1eb";
}
.bhi-payable-charge:before {
    content: "\f1ec";
}
.bhi-payable:before {
    content: "\f1ed";
}
.bhi-payroll:before {
    content: "\f1ee";
}
.bhi-person-circle:before {
    content: "\f1ef";
}
.bhi-person:before {
    content: "\f1f0";
}
.bhi-phone:before {
    content: "\f1f1";
}
.bhi-pin:before {
    content: "\f1f2";
}
.bhi-plus:before {
    content: "\f1f3";
}
.bhi-preview:before {
    content: "\f1f4";
}
.bhi-previous:before {
    content: "\f1f5";
}
.bhi-print:before {
    content: "\f1f6";
}
.bhi-progress-bars:before {
    content: "\f1f7";
}
.bhi-projects-square:before {
    content: "\f1f8";
}
.bhi-projects:before {
    content: "\f1f9";
}
.bhi-publish:before {
    content: "\f1fa";
}
.bhi-pulse:before {
    content: "\f1fb";
}
.bhi-purchase-order:before {
    content: "\f1fc";
}
.bhi-puzzle:before {
    content: "\f1fd";
}
.bhi-question-o:before {
    content: "\f1fe";
}
.bhi-question:before {
    content: "\f1ff";
}
.bhi-radio-empty:before {
    content: "\f200";
}
.bhi-radio-filled:before {
    content: "\f201";
}
.bhi-rate-circle:before {
    content: "\f202";
}
.bhi-rate-filled:before {
    content: "\f203";
}
.bhi-rate-request:before {
    content: "\f204";
}
.bhi-rate-rule:before {
    content: "\f205";
}
.bhi-rate:before {
    content: "\f206";
}
.bhi-receivables:before {
    content: "\f207";
}
.bhi-refresh-o:before {
    content: "\f208";
}
.bhi-refresh:before {
    content: "\f209";
}
.bhi-rent:before {
    content: "\f20a";
}
.bhi-reply:before {
    content: "\f20b";
}
.bhi-report-code:before {
    content: "\f20c";
}
.bhi-report:before {
    content: "\f20d";
}
.bhi-republish:before {
    content: "\f20e";
}
.bhi-resume:before {
    content: "\f20f";
}
.bhi-rocket:before {
    content: "\f210";
}
.bhi-rules-config:before {
    content: "\f211";
}
.bhi-sailboat:before {
    content: "\f212";
}
.bhi-save:before {
    content: "\f213";
}
.bhi-search-check:before {
    content: "\f214";
}
.bhi-search-menu:before {
    content: "\f215";
}
.bhi-search-private:before {
    content: "\f216";
}
.bhi-search-question:before {
    content: "\f217";
}
.bhi-search-shared:before {
    content: "\f218";
}
.bhi-search:before {
    content: "\f219";
}
.bhi-section:before {
    content: "\f21a";
}
.bhi-send:before {
    content: "\f21b";
}
.bhi-sendout:before {
    content: "\f21c";
}
.bhi-settings:before {
    content: "\f21d";
}
.bhi-share-o:before {
    content: "\f21e";
}
.bhi-share:before {
    content: "\f21f";
}
.bhi-shield:before {
    content: "\f220";
}
.bhi-shipping-box:before {
    content: "\f221";
}
.bhi-slideout:before {
    content: "\f222";
}
.bhi-sms:before {
    content: "\f223";
}
.bhi-sort-asc:before {
    content: "\f224";
}
.bhi-sort-desc:before {
    content: "\f225";
}
.bhi-sortable:before {
    content: "\f226";
}
.bhi-source:before {
    content: "\f227";
}
.bhi-star-circle:before {
    content: "\f228";
}
.bhi-star-o-circle:before {
    content: "\f229";
}
.bhi-star-o:before {
    content: "\f22a";
}
.bhi-star:before {
    content: "\f22b";
}
.bhi-stethoscope:before {
    content: "\f22c";
}
.bhi-stop-light:before {
    content: "\f22d";
}
.bhi-tab:before {
    content: "\f22e";
}
.bhi-tearsheet:before {
    content: "\f22f";
}
.bhi-tie:before {
    content: "\f230";
}
.bhi-tilde:before {
    content: "\f231";
}
.bhi-times:before {
    content: "\f232";
}
.bhi-timetable:before {
    content: "\f233";
}
.bhi-tools:before {
    content: "\f234";
}
.bhi-tower:before {
    content: "\f235";
}
.bhi-trending-down:before {
    content: "\f236";
}
.bhi-trending-up:before {
    content: "\f237";
}
.bhi-truck:before {
    content: "\f238";
}
.bhi-twitter-f:before {
    content: "\f239";
}
.bhi-twitter-o:before {
    content: "\f23a";
}
.bhi-twitter:before {
    content: "\f23b";
}
.bhi-umbrella:before {
    content: "\f23c";
}
.bhi-unit:before {
    content: "\f23d";
}
.bhi-unlock:before {
    content: "\f23e";
}
.bhi-upload:before {
    content: "\f23f";
}
.bhi-user-o:before {
    content: "\f240";
}
.bhi-user:before {
    content: "\f241";
}
.bhi-users:before {
    content: "\f242";
}
.bhi-vendor:before {
    content: "\f243";
}
.bhi-view-list:before {
    content: "\f244";
}
.bhi-view-module:before {
    content: "\f245";
}
.bhi-viewall:before {
    content: "\f246";
}
.bhi-vms:before {
    content: "\f247";
}
.bhi-workflow:before {
    content: "\f248";
}
.bhi-x:before {
    content: "\f249";
}
