@font-face {
    font-family: "Bullhorn-Glyphicons";
    src: url("./Bullhorn-Glyphicons.eot?e8b998c4458537433e611a9693dd5bb8?#iefix") format("embedded-opentype"),
url("./Bullhorn-Glyphicons.woff2?e8b998c4458537433e611a9693dd5bb8") format("woff2"),
url("./Bullhorn-Glyphicons.woff?e8b998c4458537433e611a9693dd5bb8") format("woff"),
url("./Bullhorn-Glyphicons.ttf?e8b998c4458537433e611a9693dd5bb8") format("truetype"),
url("./Bullhorn-Glyphicons.svg?e8b998c4458537433e611a9693dd5bb8#Bullhorn-Glyphicons") format("svg");
}

i {
    line-height: 1;
}

i[class~="bhi-"]:before {
    font-family: Bullhorn-Glyphicons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: middle;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.bhi-activity:before {
    content: "\f101";
}
.bhi-add-appointment:before {
    content: "\f102";
}
.bhi-add-file:before {
    content: "\f103";
}
.bhi-add-note:before {
    content: "\f104";
}
.bhi-add-o:before {
    content: "\f105";
}
.bhi-add-thin:before {
    content: "\f106";
}
.bhi-add:before {
    content: "\f107";
}
.bhi-addcard:before {
    content: "\f108";
}
.bhi-anchor:before {
    content: "\f109";
}
.bhi-appointment:before {
    content: "\f10a";
}
.bhi-archive:before {
    content: "\f10b";
}
.bhi-arrow-down:before {
    content: "\f10c";
}
.bhi-arrow-left-h:before {
    content: "\f10d";
}
.bhi-arrow-left:before {
    content: "\f10e";
}
.bhi-arrow-right-h:before {
    content: "\f10f";
}
.bhi-arrow-right:before {
    content: "\f110";
}
.bhi-arrow-up:before {
    content: "\f111";
}
.bhi-attach:before {
    content: "\f112";
}
.bhi-back-office:before {
    content: "\f113";
}
.bhi-beaker:before {
    content: "\f114";
}
.bhi-bell:before {
    content: "\f115";
}
.bhi-board:before {
    content: "\f116";
}
.bhi-bolt:before {
    content: "\f117";
}
.bhi-book:before {
    content: "\f118";
}
.bhi-bookmark-o:before {
    content: "\f119";
}
.bhi-bookmark:before {
    content: "\f11a";
}
.bhi-bot:before {
    content: "\f11b";
}
.bhi-bug:before {
    content: "\f11c";
}
.bhi-bull:before {
    content: "\f11d";
}
.bhi-calculator:before {
    content: "\f11e";
}
.bhi-calendar:before {
    content: "\f11f";
}
.bhi-camera:before {
    content: "\f120";
}
.bhi-candidate-circle:before {
    content: "\f121";
}
.bhi-candidate:before {
    content: "\f122";
}
.bhi-canvas:before {
    content: "\f123";
}
.bhi-card-expand:before {
    content: "\f124";
}
.bhi-category-tags:before {
    content: "\f125";
}
.bhi-caution-o:before {
    content: "\f126";
}
.bhi-caution:before {
    content: "\f127";
}
.bhi-certification:before {
    content: "\f128";
}
.bhi-chart-bar:before {
    content: "\f129";
}
.bhi-chart-donut:before {
    content: "\f12a";
}
.bhi-chart-funnel:before {
    content: "\f12b";
}
.bhi-chart-line:before {
    content: "\f12c";
}
.bhi-chart-pie-o:before {
    content: "\f12d";
}
.bhi-chart-pie:before {
    content: "\f12e";
}
.bhi-check-circle-filled:before {
    content: "\f12f";
}
.bhi-check-circle:before {
    content: "\f130";
}
.bhi-check-o:before {
    content: "\f131";
}
.bhi-check:before {
    content: "\f132";
}
.bhi-checkbox-add:before {
    content: "\f133";
}
.bhi-checkbox-empty:before {
    content: "\f134";
}
.bhi-checkbox-filled:before {
    content: "\f135";
}
.bhi-checkbox-indeterminate:before {
    content: "\f136";
}
.bhi-circle-o:before {
    content: "\f137";
}
.bhi-circle:before {
    content: "\f138";
}
.bhi-clipboard:before {
    content: "\f139";
}
.bhi-clock-arrow:before {
    content: "\f13a";
}
.bhi-clock:before {
    content: "\f13b";
}
.bhi-close-o:before {
    content: "\f13c";
}
.bhi-close:before {
    content: "\f13d";
}
.bhi-coffee:before {
    content: "\f13e";
}
.bhi-collapse:before {
    content: "\f13f";
}
.bhi-columns:before {
    content: "\f140";
}
.bhi-comment-o:before {
    content: "\f141";
}
.bhi-comment:before {
    content: "\f142";
}
.bhi-company-circle:before {
    content: "\f143";
}
.bhi-company:before {
    content: "\f144";
}
.bhi-compass:before {
    content: "\f145";
}
.bhi-complex:before {
    content: "\f146";
}
.bhi-configure-o:before {
    content: "\f147";
}
.bhi-configure:before {
    content: "\f148";
}
.bhi-convert:before {
    content: "\f149";
}
.bhi-crane:before {
    content: "\f14a";
}
.bhi-credential:before {
    content: "\f14b";
}
.bhi-crown:before {
    content: "\f14c";
}
.bhi-custom-objects:before {
    content: "\f14d";
}
.bhi-dashboard-o:before {
    content: "\f14e";
}
.bhi-dashboard:before {
    content: "\f14f";
}
.bhi-day:before {
    content: "\f150";
}
.bhi-delete-o:before {
    content: "\f151";
}
.bhi-delete:before {
    content: "\f152";
}
.bhi-desktop:before {
    content: "\f153";
}
.bhi-download:before {
    content: "\f154";
}
.bhi-dropzone:before {
    content: "\f155";
}
.bhi-duplicate:before {
    content: "\f156";
}
.bhi-edit-circle-filled:before {
    content: "\f157";
}
.bhi-edit-circle:before {
    content: "\f158";
}
.bhi-edit-o:before {
    content: "\f159";
}
.bhi-edit:before {
    content: "\f15a";
}
.bhi-education:before {
    content: "\f15b";
}
.bhi-email-autoadd:before {
    content: "\f15c";
}
.bhi-email:before {
    content: "\f15d";
}
.bhi-engagement:before {
    content: "\f15e";
}
.bhi-evening:before {
    content: "\f15f";
}
.bhi-expand:before {
    content: "\f160";
}
.bhi-export-html:before {
    content: "\f161";
}
.bhi-export-ms:before {
    content: "\f162";
}
.bhi-external:before {
    content: "\f163";
}
.bhi-facebook-o:before {
    content: "\f164";
}
.bhi-facebook:before {
    content: "\f165";
}
.bhi-fasterfind:before {
    content: "\f166";
}
.bhi-field-dropdown:before {
    content: "\f167";
}
.bhi-field-paragraph:before {
    content: "\f168";
}
.bhi-field-signature-text:before {
    content: "\f169";
}
.bhi-field-signature:before {
    content: "\f16a";
}
.bhi-field-text:before {
    content: "\f16b";
}
.bhi-field-textblock:before {
    content: "\f16c";
}
.bhi-file:before {
    content: "\f16d";
}
.bhi-filter:before {
    content: "\f16e";
}
.bhi-flag:before {
    content: "\f16f";
}
.bhi-flagged-email:before {
    content: "\f170";
}
.bhi-flower:before {
    content: "\f171";
}
.bhi-footprint:before {
    content: "\f172";
}
.bhi-funnel:before {
    content: "\f173";
}
.bhi-globe-o:before {
    content: "\f174";
}
.bhi-globe:before {
    content: "\f175";
}
.bhi-google:before {
    content: "\f176";
}
.bhi-hammer:before {
    content: "\f177";
}
.bhi-headset:before {
    content: "\f178";
}
.bhi-home:before {
    content: "\f179";
}
.bhi-i9:before {
    content: "\f17a";
}
.bhi-ice-cream:before {
    content: "\f17b";
}
.bhi-idea:before {
    content: "\f17c";
}
.bhi-inactive:before {
    content: "\f17d";
}
.bhi-inbound-call:before {
    content: "\f17e";
}
.bhi-inbox:before {
    content: "\f17f";
}
.bhi-industry:before {
    content: "\f180";
}
.bhi-info-o:before {
    content: "\f181";
}
.bhi-info:before {
    content: "\f182";
}
.bhi-interview:before {
    content: "\f183";
}
.bhi-job-circle:before {
    content: "\f184";
}
.bhi-job:before {
    content: "\f185";
}
.bhi-layout:before {
    content: "\f186";
}
.bhi-lead-circle:before {
    content: "\f187";
}
.bhi-lead:before {
    content: "\f188";
}
.bhi-link:before {
    content: "\f189";
}
.bhi-linkedin-f:before {
    content: "\f18a";
}
.bhi-linkedin-o:before {
    content: "\f18b";
}
.bhi-linkedin:before {
    content: "\f18c";
}
.bhi-list-o:before {
    content: "\f18d";
}
.bhi-list:before {
    content: "\f18e";
}
.bhi-location-o:before {
    content: "\f18f";
}
.bhi-location:before {
    content: "\f190";
}
.bhi-lock:before {
    content: "\f191";
}
.bhi-logout:before {
    content: "\f192";
}
.bhi-map:before {
    content: "\f193";
}
.bhi-menu-o:before {
    content: "\f194";
}
.bhi-menu:before {
    content: "\f195";
}
.bhi-missed-call:before {
    content: "\f196";
}
.bhi-mobile:before {
    content: "\f197";
}
.bhi-more:before {
    content: "\f198";
}
.bhi-morning:before {
    content: "\f199";
}
.bhi-move:before {
    content: "\f19a";
}
.bhi-music:before {
    content: "\f19b";
}
.bhi-news:before {
    content: "\f19c";
}
.bhi-next:before {
    content: "\f19d";
}
.bhi-no-data:before {
    content: "\f19e";
}
.bhi-note:before {
    content: "\f19f";
}
.bhi-notes:before {
    content: "\f1a0";
}
.bhi-nps:before {
    content: "\f1a1";
}
.bhi-onboarding:before {
    content: "\f1a2";
}
.bhi-opportunity-circle:before {
    content: "\f1a3";
}
.bhi-opportunity:before {
    content: "\f1a4";
}
.bhi-organize:before {
    content: "\f1a5";
}
.bhi-outbound-call:before {
    content: "\f1a6";
}
.bhi-outbound-email:before {
    content: "\f1a7";
}
.bhi-overview:before {
    content: "\f1a8";
}
.bhi-packets:before {
    content: "\f1a9";
}
.bhi-person-circle:before {
    content: "\f1aa";
}
.bhi-person:before {
    content: "\f1ab";
}
.bhi-phone:before {
    content: "\f1ac";
}
.bhi-pin:before {
    content: "\f1ad";
}
.bhi-plus:before {
    content: "\f1ae";
}
.bhi-preview:before {
    content: "\f1af";
}
.bhi-previous:before {
    content: "\f1b0";
}
.bhi-print:before {
    content: "\f1b1";
}
.bhi-projects:before {
    content: "\f1b2";
}
.bhi-publish:before {
    content: "\f1b3";
}
.bhi-pulse:before {
    content: "\f1b4";
}
.bhi-puzzle:before {
    content: "\f1b5";
}
.bhi-question-o:before {
    content: "\f1b6";
}
.bhi-question:before {
    content: "\f1b7";
}
.bhi-radio-empty:before {
    content: "\f1b8";
}
.bhi-radio-filled:before {
    content: "\f1b9";
}
.bhi-rate:before {
    content: "\f1ba";
}
.bhi-refresh-o:before {
    content: "\f1bb";
}
.bhi-refresh:before {
    content: "\f1bc";
}
.bhi-reply:before {
    content: "\f1bd";
}
.bhi-report:before {
    content: "\f1be";
}
.bhi-republish:before {
    content: "\f1bf";
}
.bhi-resume:before {
    content: "\f1c0";
}
.bhi-rocket:before {
    content: "\f1c1";
}
.bhi-sailboat:before {
    content: "\f1c2";
}
.bhi-save:before {
    content: "\f1c3";
}
.bhi-search-menu:before {
    content: "\f1c4";
}
.bhi-search-question:before {
    content: "\f1c5";
}
.bhi-search:before {
    content: "\f1c6";
}
.bhi-section:before {
    content: "\f1c7";
}
.bhi-send:before {
    content: "\f1c8";
}
.bhi-sendout:before {
    content: "\f1c9";
}
.bhi-share-o:before {
    content: "\f1ca";
}
.bhi-share:before {
    content: "\f1cb";
}
.bhi-shield:before {
    content: "\f1cc";
}
.bhi-shipping-box:before {
    content: "\f1cd";
}
.bhi-slideout:before {
    content: "\f1ce";
}
.bhi-sms:before {
    content: "\f1cf";
}
.bhi-sort-asc:before {
    content: "\f1d0";
}
.bhi-sort-desc:before {
    content: "\f1d1";
}
.bhi-sortable:before {
    content: "\f1d2";
}
.bhi-source:before {
    content: "\f1d3";
}
.bhi-star-circle:before {
    content: "\f1d4";
}
.bhi-star-o-circle:before {
    content: "\f1d5";
}
.bhi-star-o:before {
    content: "\f1d6";
}
.bhi-star:before {
    content: "\f1d7";
}
.bhi-stethoscope:before {
    content: "\f1d8";
}
.bhi-stop-light:before {
    content: "\f1d9";
}
.bhi-tab:before {
    content: "\f1da";
}
.bhi-tearsheet:before {
    content: "\f1db";
}
.bhi-tie:before {
    content: "\f1dc";
}
.bhi-times:before {
    content: "\f1dd";
}
.bhi-timetable:before {
    content: "\f1de";
}
.bhi-tools:before {
    content: "\f1df";
}
.bhi-tower:before {
    content: "\f1e0";
}
.bhi-trending-down:before {
    content: "\f1e1";
}
.bhi-trending-up:before {
    content: "\f1e2";
}
.bhi-truck:before {
    content: "\f1e3";
}
.bhi-twitter-f:before {
    content: "\f1e4";
}
.bhi-twitter-o:before {
    content: "\f1e5";
}
.bhi-twitter:before {
    content: "\f1e6";
}
.bhi-umbrella:before {
    content: "\f1e7";
}
.bhi-upload:before {
    content: "\f1e8";
}
.bhi-user-o:before {
    content: "\f1e9";
}
.bhi-user:before {
    content: "\f1ea";
}
.bhi-users:before {
    content: "\f1eb";
}
.bhi-view-list:before {
    content: "\f1ec";
}
.bhi-view-module:before {
    content: "\f1ed";
}
.bhi-viewall:before {
    content: "\f1ee";
}
